*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --orange: #fca115;
  --white: #fef3c7;
  --amber500: #f59e0b;
  --amber600: #d97706;
  --amber700: #b45309;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  color: var(--white);
}

section {
  padding: 2rem 9%;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: var(--amber500);
  border-radius: 0.5rem;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn:hover {
  background: var(--amber600);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

header .logo span {
  color: var(--orange);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../images/home.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
  background-color: var(--amber700);
  padding: 2rem;
  border-radius: 0.5rem;

  h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }

  a {
    font-size: 1.5rem;
  }
}

.home .content h3 {
  font-size: 6rem;
  color: #333333;
}

.home .content span {
  font-size: 3.5rem;
  color: var(--orange);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content span {
  font-size: 1.5rem;
  color: #fcdd15;
  padding: 1rem 0;
  line-height: 1.5;
}

/* navbar */
.navbar {
  display: flex;
  gap: 2rem;

  a {
    font-size: 2rem;
  }
}

.icons {
  display: flex;
  gap: 1rem;
}

/* about */
.about {
  background-color: var(--amber700);
}

.container {
  height: 40rem;
}

/* products */
.products {
  .title {
    background-color: var(--amber700);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}

.products-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  .product {
    flex: 1 1 30rem;
    max-width: 30rem;
    background-color: var(--amber700);
    padding: 2rem 3rem;
    border-radius: 0.5rem;

    h3 {
      font-size: 2rem;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    .price {
      margin-right: 1rem;
    }
  }
}

/* footer */
footer {
  background-color: var(--amber700);
  padding: 1rem 0.75rem;
}
